.list-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  list-style: none;
  padding: 10px 20px;

  border: 1px solid $border-color-accent;
  border-radius: 8px;
  cursor: pointer;

  @include mediaMax($mobile) {
    flex-direction: column;
    padding: 10px 15px;
  }

  &__id {
    margin-right: 20px;
    white-space: nowrap;
    display: flex;

    & span:last-child {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 50vw;
      flex: 0 1 auto;
    }

    @include mediaMax($mobile) {
      margin-right: 0;
    }
  }
}