.auth {
  &-modal {
    &__input {
      & + .auth-modal__input {
        margin-top: 15px;
      }
    }

    & &__submit {
      display: block;
      margin-top: 20px;
      margin-left: auto;
    }
  }
}
