.auth {
  &__modal {
    &-input {
      & + .auth__modal-input {
        margin-top: 15px;
      }
    }

    & &-submit {
      display: block;
      margin-top: 20px;
      margin-left: auto;
    }
  }
}
