.auth {
  display: flex !important;
  align-items: center;

  @include mediaMax($mobile-sm) {
    padding-left: 5px !important;
    padding-right: 6px !important;
  }

  svg {
    width: 20px;
    margin-right: 10px;
    fill: currentColor;

    @include mediaMax($mobile-sm) {
      margin-right: 0;
    }
  }

  & &-text {
    @include mediaMax($mobile-sm) {
      display: none;
    }
  }

  &-modal {
    &__input {
      & + .auth-modal__input {
        margin-top: 15px;
      }
    }

    & &__submit {
      display: block;
      margin-top: 20px;
      margin-left: auto;
    }
  }
}
