.table-total {
  padding-bottom: 15px;
  overflow-x: auto;

  &__title {
    font-weight: 700;
    text-align: start;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    gap: 10px;
    align-items: center;

    padding: 5px;

    @include mediaMax($mobile) {
      grid-template-columns: 3fr 1fr;
    }

    &--accent {
      border: 1px solid $border-color-default;
      background-color: rgba($border-color-accent, 0.3);
    }
  }
}

.btn-block {
  text-align: start;
}