.ant-form-item-explain-error {
  line-height: 1.1 !important;
}

.ant-space.ant-space-horizontal,
.ant-input-number {
  display: block !important;
  width: 100% !important;
}

.ant-breadcrumb-link {
  white-space: nowrap !important;
}

.ant-spin {
  margin-top: 25% !important;
}